# dependencies
/node_modules

# next.js build output
/.next

# serverless function build output
/.serverless

# Firebase functions build output
/functions/lib

# IDE/Editor specific files
.idea
.vscode
*.swp
*.swo

# Log files
*.log

# Build output
/dist

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase service account credentials
firebase-adminsdk.json

# Cache and temporary files
/.cache
.npm
.npmrc
.yarn
.yarn-cache
.pnp.*
*.pnp.*
