.container {
  /* height: calc(100vh - 100px); */
  /* background-color: #222222b3; */
  display: flex;
  margin: 10px 20px;
}

.item {
  flex: content;
  position: relative;
  display: flex;
  padding: 3% 3%;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.icon {
  font-size: 2em;
  margin-right: 0.3em;
  color: #666;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }
}
